<div class="main navbar">
  <a class="center">签到点详情</a>
  <a class="left" href="#/home">
    <i class="angle left icon"></i> 返回
  </a>
</div>
<div class="ui container">
  <div ng-include="'loading.html'" ng-show="!data.length && loading"></div>
  <div class="ui warning message" ng-show="!data.length  && !loading && error">
    <div ng-bind="error"></div>
  </div>
  <div ng-show="data.length">
    <div class="ui positive message" ng-bind="title"></div>
    <table class="ui three column green striped center aligned unstackable attached table">
      <thead>
        <tr>
          <th class="six wide">学号</th>
          <th class="five wide">姓名</th>
          <th class="five wide">时间</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in data">
          <td ng-bind="item.num"></td>
          <td ng-bind="item.name"></td>
          <td ng-bind="item.time"></td>
        </tr>
        <tr ng-click="getList(true)">
          <td colspan="3" ng-if="loading">
            <i class="asterisk loading icon"></i> 正在努力请求数据...
          </td>
          <td colspan="3" ng-if="!loading" ng-bind="error || '点击加载更多...'"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>